/* 
    Created on : 28.4.2015, 23:39:52
    Author     : Bruno
*/
@menuColor: #3b2726;
@darkMenuColor: #261c1d;
@light: #fcb75c;
.recept{
    img{
        
        display:inline;
    }
    h3{
        display:inline;
        width: 50%;
        margin: 0;
    }
}
.title{
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.color{
    color: @light;
}
.justify{
    text-align: justify;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}
.light{
    color: @light;
}
.banner{
    width: 100%;
}
@media (max-width:1024px){

    body{
        width: 98%;
        font-family: 'Roboto', sans-serif;
        margin:0;
        padding: 0;
        .content{
            padding-left:2%;
            padding-right:2%;
            width: 100%;
            margin: 0 auto;
            margin-left: 1%;
            .clearfix;
        }

        header{
            background-color: @menuColor;
            width: 100%;
            color:white;
            padding-right:2%;
            nav{
                padding-left:2%;
                padding-right:2%;
                width: 100%;
                margin: 0 auto;
                height: 50px;
                #logo{
                    cursor: pointer;
                    float: left;
                    width:5%;
                    text-align: left;
                    img{
                        height: 50px;
                    }
                    font{
                        display:none;
                    }
                }
                #menu{
                    width:70%;
                    float: right;
                    text-align: center;
                    margin-right:1%;
                    img{
                        float: right;
                        height:50px;
                        width: 50px;
                    }
                    ul{
                        display:none;
                        width:89.5%;
                        height:10%;
                        margin:0;
                        margin-top:50px;
                        li{
                            padding-top:15px;
                            padding-left:20px;
                            padding-right:20px;
                            height: 100%;
                            display:block;
                            text-align:center;
                            img{
                                display: none;
                            }
                            &:hover{
                                background-color: @darkMenuColor;
                            }
                            &.active{
                                text-align: center;
                                background-color: @darkMenuColor;
                                border-bottom:5px solid red;
                            }
                        }
                    }
                }


                #langs{
                    cursor: pointer;
                    width:100px;
                    display:inline;
                    margin-top: 15px;
                    font-size:20px;
                    float:right;
                    a{
                        display: inline;
                        color: white;
                        text-decoration:none;

                        &:hover{
                            color: red;
                        }

                    }
                }

            }
            nav.active{
                #menu{
                    display:none;
                }
            }
        }

        #foot{
            width: 100%;
            padding-right:2%;
            background-color: @menuColor;
            color:white;
            .content{
                padding-top:10px;
                text-align:center;
                span{
                    display: inline-table;
                }
                #nav{
                    text-align:left;

                    width:15%;
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    a{
                        text-decoration: none;
                        color:white;
                    }
                }
                #contact{
                    text-align:left;

                    width:20%;
                    margin-left: 5%;
                }
                #recipe{

                    width:50%;
                    margin-left: 5%;
                }
            }
        }

        footer{
            padding-top: 10px;
            width: 100%;
            height: 30px;
            color:white;
            padding-right:2%;
            background-color: @darkMenuColor;
            .content{
                margin-right:2%;
                .left{
                    text-align:left;
                }
                .right{
                    text-align:right;
                }
            }
        }
        aside{
            display: none;
        }


        .left{
            width:100%;
            margin: 0;
        }
        .right{
            margin: 0;
            width:100%;
        }
        .textCenter{
            text-align: center;
        }
        .smaller{
            font-size: 9pt;
        }
        .lightButton{
            border: 2px solid @light;
            padding: 10px;
            background-color: white;
            width: 100%;
        }
        section{
            font-size:9pt;
            .clearfix;
            padding-left:2%;
            padding-right:2%;
            width: 100%;
            margin: 0 auto;
            min-height: 500px;
            margin-bottom:3%;
            .photos{
                margin-top:3%;
                .photo{
                    display: block;
                    width:95%;
                    margin-left:3%;
                    margin-top: 2%;
                }
            }
            .photoMenu{
                margin-top:3%;
                .photo{
                    display: block;
                    width:200px;
                    margin: 0 auto;
                    margin-top: 2%;
                    box-shadow: 1px 1px 1px 1px gray;
                }
            }

            h1{
                text-align: center;
                font-size:20pt;
            }
            h2{
                text-align: center;
                font-size:13pt;
                img{
                    display: block;
                    margin: 0 auto;
                    margin-top:10px;
                }
            }
            h3{
                font-size:10pt;
            }

            .productHolder{
                display: inline-table;
                width:29%;
                margin-left:3%;
                text-align:center;
                h3{
                    background-color: @light;
                    color:white;
                    padding: 10px;
                    height: 40px;
                    text-align: center;
                }
                img{
                    width: 100%;
                }
                p{
                    width:100%;
                    text-align: justify;
                    height: 80px;
                }
                .lightButton{
                    display: inherit;
                    width: 93%;
                    color: @light;
                    text-align: center;
                }   
            }
            .contact{
                form{
                    width:100%;
                    label::after{
                        content:"*";
                        color: red;
                    }
                    input{
                        width: 80%;
                        &[type="submit"]{
                            width: 20%;
                            margin-right:17.5%;
                            margin-top:10px;
                        }
                    }
                    textarea{
                        width: 80%;
                    }
                }
            }
            ul.contact{
                text-align:center;
                li{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 20%;
                    height: 12px;
                    display:inline-block;
                    img{
                        height: 12px;
                    }
                }
            }

        }

    }
}
@media (min-width:1024px){
    body{
        font-family: 'Roboto', sans-serif;
        margin:0;
        padding: 0;
        .content{
            width: 1000px;
            margin: 0 auto;
            .clearfix;
        }

        header{
            background-color: @menuColor;
            width: 100%;
            color:white;
            nav{
                #langs{
                    margin-top:2px;
                    border-left: 1px solid white;
                    padding-left: 10px;
                    cursor: pointer;
                    width: 1.5%;
                    font-size:10pt;
                    display:inline;
                    float:right;
                    a{
                        display:block;
                        width: 100%;
                        color: white;
                        text-decoration:none;
                        &:hover{
                            color: red;
                        }

                    }
                }
                #menuBtn{
                    display: none;
                }
                width: 1000px;
                margin: 0 auto;
                height: 50px;
                #logo{
                    cursor: pointer;
                    float: left;
                    width:20%;
                    height: 100%;
                    text-align: left;
                    img{
                        height: 100%;
                    }
                    font{
                        position: relative;
                        top:-20px;
                    }
                }
                #menu{
                    float:right;
                    width:75%;
                    margin-right: 2%;
                    text-align: center;
                    height: 100%;
                    ul{
                        width:95%;
                        height: 100%;
                        margin:0;
                        li{
                            cursor: pointer;
                            padding-top:15px;
                            padding-left:10px;
                            padding-right:10px;
                            height: 70%;
                            display: inline-block;
                            img{
                                display: none;
                                margin: 0;
                                width: 100%;
                                margin-top: 5%;
                            }
                            &:hover{
                                background-color: @darkMenuColor;
                            }
                            &.active{
                                height: 62%;
                                background-color: @darkMenuColor;
                                border-bottom:5px solid red;
                                img{
                                    display:block;
                                }
                            }
                        }
                    }
                }
            }
        }

        #foot{
            width: 100%;
            background-color: @menuColor;
            color:white;
            padding-bottom:20px;
            .content{
                padding-top:10px;
                text-align:center;
                span{
                    display: inline-table;
                }
                #nav{
                    margin-left:5%;
                    width:15%;
                    text-align:left;

                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    a{
                        text-decoration: none;
                        color:white;
                    }
                }
                #contact{
                    text-align:left;

                    width:20%;
                    margin-left: 5%;
                }
                #recipe{
                    width:45%;
                    margin-left: 5%;
                }
            }
        }

        footer{
            padding-top: 10px;
            height: 30px;
            color:white;
            background-color: @darkMenuColor;
            .content{
                .left{
                    text-align:left;
                }
                .right{
                    text-align:right;
                }
            }
        }
        aside{
            cursor: pointer;
            @height: 40px;
            position: fixed;
            margin-top: 30%;
            .clearfix;
            float:left;
            height: @height*2;
            margin-right: 1%;
            ul{
                width: 100%;
                margin: 0;
                padding: 0;
                li{
                    padding:0;
                    margin:0;
                    height: @height;
                    img{
                        height: @height;
                    }
                }
            }
        }


        .left{
            width:45%;
            float: left;
            margin: 0;
        }
        .right{
            margin: 0;
            margin-left: 5%;
            width:50%;
            float: right;
        }
        .textCenter{
            text-align: center;
        }
        .smaller{
            font-size: 9pt;
        }
        .lightButton{
            border: 2px solid @light;
            padding: 10px;
            background-color: white;
            width: 100%;
        }
        section{
            .clearfix;
            width: 1000px;
            margin: 0 auto;
            min-height:500px;
            margin-bottom:3%;
            .photos{
                margin-top:3%;
                .photo{
                    display: inline-block;
                    width:20%;
                    margin-left:3%;
                    margin-top: 2%;
                }
            }
            .photoMenu{
                margin-top:3%;
                #left{
                    margin-left:0;
                }
                .photo{
                    display: inline-block;
                    width:20%;
                    margin-left:3%;
                    margin-top: 2%;
                    box-shadow: 1px 1px 1px 1px gray;
                }
                .bal{
                    height:120px;
                }
            }

            h1{
                text-align: center;
            }
            h2{
                text-align: center;
                font-size:13pt;
                img{
                    display: block;
                    margin: 0 auto;
                    margin-top:10px;
                }
            }

            .productHolder{
                display: inline-table;
                width:29%;
                margin-left:3%;
                text-align:center;
                h3{
                    background-color: @light;
                    color:white;
                    padding: 10px;
                    height: 40px;
                    text-align: center;
                }
                img{
                    height: 200px;
                    max-width: 100%;
                }
                p{
                    width:100%;
                    text-align: justify;
                    height: 80px;

                }
                .lightButton{
                    display: inherit;
                    width: 93%;
                    color: @light;
                    text-align: center;
                }   
            }
            .contact{
                label::after{
                    content:"*";
                    color: red;
                }
            }
            ul.contact{
                text-align:center;
                li{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 20%;
                    height: 12px;
                    display:inline-block;
                    img{
                        height: 12px;
                    }
                }
            }

        }

    }
}










